*{
    padding: 0;
    margin: 0;
}
.itemCount{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.itemCount>button{
    width: 100%;
    margin-top: 5px;
}
.itemCount button{
    background-color: #444;
    color: #fafafa;
    border: 3px solid #a01c4b;
    border-radius: 10px;
}
.itemCount button:hover{
    background-color: #fafafa;
    color: #a01c4b;
}
.countChanger{
    display: grid;
    grid-template-columns: 1fr 28px 1fr;
    grid-template-rows: 28px;
    gap: 5px;
    width: 100%;
    height: auto;
}
.countChanger p{
    text-align: center;
    font-weight: bold;
}