*{
    margin: 0;
    padding: 0;
}
#itemDisplay{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
#itemDisplay img{
    width: 200px;
    height: 200px;
}
#itemDetail{
    display: flex;
}