* {
    padding: 0;
    margin: 0;
}

#itemListContainer {
    padding: 10px;
}

#itemList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.itemDisplay {
    display: flex;
    flex-flow: column wrap;
    width: 48%;
    margin: 10px 1% 10px 1%;
    border: 1px solid black;
    padding: 20px;
}
.itemDisplay>div{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.itemDisplay>div h4{
    margin-bottom: auto;
}
.itemDisplay>div img{
    margin-top: 10px;
}
.itemDisplay>div p {
    font-weight: bolder;
}
.itemDisplay>div a{
    width: 100%;
}
.itemInfBtn {
    background-color: #444;
    color: #fafafa;
    border: 3px solid #a01c4b;
    border-radius: 10px;
    width: 100%;
}

.itemInfBtn:hover {
    background-color: #fafafa;
    color: #a01c4b;
}

#categoriaVacia{
    margin-left: 0;
    background-color: #444;
    color: #fafafa;
    border: 3px solid #a01c4b;
    border-radius: 10px;
    width: 100%;
    text-decoration: none;
    text-align: center;
}
#categoriaVacia:hover {
    background-color: #fafafa;
    color: #a01c4b;
}

@media screen and (max-width:1024px) {
    .itemDisplay {
        width: 98%;
    }
    .itemDisplay>div a{
        width: 75%;
    }
}