*{
    margin: 0;
    padding: 0;
}
#cartView{
    padding: 10px;
}
.cartItem{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: 1px solid black;
    margin: 10px auto;
    padding: 20px;
}
.cartItem button{
    background-color: #444;
    color: #fafafa;
    border: 3px solid #a01c4b;
    border-radius: 10px;
    width: 50%;
}
.cartItem button:hover{
    background-color: #fafafa;
    color: #a01c4b;
}
.cartItem p{
    margin-bottom: 0;
}
.cartItem p:last-of-type{
    font-weight: bold;
}
#cartView>p{
    font-weight: bold;
    text-decoration: underline;
}
#cartControls button {
    background-color: #444;
    color: #fafafa;
    border: 3px solid #a01c4b;
    border-radius: 10px;
    width: 49%;
    margin: auto 0.5%;
}
#cartControls button:hover{
    background-color: #fafafa;
    color: #a01c4b;
}
#emptyCart{
    display: block;
    background-color: #444;
    color: #fafafa;
    border: 3px solid #a01c4b;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
#emptyCart:hover{
    background-color: #fafafa;
    color: #a01c4b;
}
@media screen and (max-width:480px) {
    #cartControls button{
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
}