*{
    margin: 0;
    padding: 0;
}
#checkoutForm{
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
}
#checkoutForm label{
    font-weight: bold;
}
#checkoutForm :last-child{
    margin-top: 10px;
}
#checkoutForm button{
    background-color: #444;
    color: #fafafa;
    border: 3px solid #a01c4b;
    border-radius: 10px;
    width: 100%;
}
#checkoutForm button:hover{
    background-color: #fafafa;
    color: #a01c4b;
}
#success{
    margin: 20px;
}
#success h3{
    margin: 10px;
}
#swalButton{
    color: #fafafa;
    text-decoration: none;
}